#body {
  background: url("./imag/background.jpg");
  background-size: contain;
  background-position: top;
  background: cover;
}

#button {
  background-color: rgb(245, 239, 185);
}
#nav {
  background-color: rgb(238, 153, 196);
}
#footer {
  background-color: rgb(238, 153, 196);
}
