#body {
  background: url("./imag/background.jpg");
  background-size: contain;
  background-position: top;
  background: cover;
}

#button {
  background-color: rgb(250, 249, 242);
}
#nav {
  background-color: rgb(138, 143, 145);
}
#footer {
  background-color: rgb(138, 143, 145);
}
